body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;
    font-family: 'Press Start 2P', cursive;
}

h1 {
    color: #FF0000;
}

#searchInput {
    font-family: 'Press Start 2P', cursive;
    background-color: #3B4CCA;
}

#searchInput::placeholder{
    color: #FFCB05;
    font-family: 'Press Start 2P', cursive;
}

.controls {
    margin: 20px;
}

#pokemonDisplay {
    margin: 20px;
   
}

button {
    border-radius: 10px;
    background-color: #FFCB05;
    color: #3B4CCA;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 90%;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Press Start 2P', cursive;
}

button:hover {
    background-color: #3B4CCA;
    color: #FFCB05;
}